<h3>Editando <%=@promotion.name%> </h3>
<%= link_to 'Voltar', promotions_path %>
<hr>
<% if @promotion.errors.any? %>
<ul>
<% @promotion.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>
<% end %>
<%= render "form", submit_text: 'Confirmar Alterações', promotion: @promotion%>