<h3>Registrar uma Promoção</h3>
<%= link_to t('buttons.back'), promotions_path %>
<hr>
<% if @promotion.errors.any? %>
<ul>
<% @promotion.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>
<% end %>
<%= render "form", submit_text: 'Criar Promoção', promotion: @promotion %>